.contacts__information_top_discription_designer {
    margin-bottom: 0px;
}
.contacts__links_link_line {
    display: none;
}
.contacts__information_top_discription_mobil {
    display: none;
}
.contacts__information_top_discription_designer_mobil {
    display: none;
}