.design__consultant_container h1 {
  font-size: 60px;
  line-height: 40px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  font-family: "Bebas Neue", sans-serif;
}
.design__consultant_container h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}
.design__consultant_container h3 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}
.design__consultant_container h4 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-family: "Onest", sans-serif;
}
.design__consultant_container p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-family: "Onest", sans-serif;
}
.design__consultant_header {
  padding-bottom: 60px;
}

.design__consultant_header_text h1 {
  margin-bottom: 20px;
}
.design__consultant_header_disription {
  padding: 0px;
}
.design__consultant_header_image {
  padding: 0px;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.design__consultant_header_disription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.design__consultant_header_text_top {
  padding: 60px;
}
.design__consultant_header_text_top h1 {
  margin-bottom: 20px;
}
.design__consultant_header_text_bottom {
  padding-bottom: 60px;
  padding-left: 127px;
  padding-right: 32px;
}

.design__consultant_content {
  padding: 0px;
  border-top: 1px solid #999a81;
  border-bottom: 1px solid #999a81;
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.design__consultant_content_first {
  padding: 60px 49px 58px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.design__consultant_content_second {
  padding: 60px 50px 60px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.design__consultant_content_third {
  padding: 60px 30px 60px 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.design__consultant_content_img img {
  /* width: 100%; */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.design__consultant_content_discription p {
  font-size: 16px;
  font-weight: 300;
  padding-right: 100px;
}
.design__consultant_content_discription h3 {
  margin-bottom: 12px;
}
.design__consultant_content_discription {
  margin-top: 32px;
}
.design__consultant_content_second {
  border-left: 1px solid #999a81;
  border-right: 1px solid #999a81;
}

.design__consultant_content_second .design__consultant_content_discription {
  margin-top: 0px;
  margin-bottom: 32px;
}
.design__consultant_content_img {
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.design__consultant_content_img img {
  /* object-fit: cover; */
  width: 100%;
}
.design__consultant_content img {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.design__consultant_content:hover img {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.design__consultant_content_third_section {
  margin: 60px 0px;
  cursor: pointer;
}
.disign_consultant_big {
  padding: 0px;
}
.disign_consultant_big {
  overflow: hidden;
}
.disign_consultant_big img {
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.design__consultant_content_third_section:hover img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.design__consultant_content_third_section img {
  width: 100%;
}

.design__consultant_content_discription_second {
  margin-top: 0;
  margin-bottom: 32px;
}
.design__consultant_content_second
  .design__consultant_content_discription_second_midle {
  margin-top: 32px;
  margin-bottom: 0px;
}
.design__consultant_five_section {
  border-bottom: 1px solid #999a81;
}
.design__consultant_content_border {
  border-right: 1px solid #999a81;
}
.design__consultant_content_third_pos {
  position: relative;
}
.design__consultant_content_third_text_center h1 {
  color: #fcf8f4;
}
.design__consultant_content_third_text_center {
  position: absolute;
  top: 46%;
  left: 15%;
}
.bg_black {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(36, 22, 11, 0.5);
  width: 100%;
  height: 100%;
}
.design__consultant_pad {
  margin-top: 60px;
}
.design__consultant_content_border {
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
}
.design__consultant_content .design__consultant_content_third {
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
}
.design__consultant_content_border {
  width: 33%;
}
.hiden__button_design {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px;
}
.hiden__button_design button {
  font-family: "Onest", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px 70px;
  background-color: #24160b;
  color: #fcf8f4;
}
.modal__design_consoltant .modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
}
.modal__application_sent .modal-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
}
