h1 {
    font-size: 170px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    line-height: inherit;
}


.stock h2 {
    font-size: 80px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    line-height: inherit;
}
.stock h3 {
    font-size: 60px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 60px;
}
.stock h4 {
    font-size: 40px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    line-height: inherit;
}
.stock h4 {
    font-size: 28px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    line-height: inherit;
}
.stock p {
    font-size: 18px;
    font-weight: 300px;
    font-family: "Onest", sans-serif;
}

.stock__header_img {
    position: relative;
    padding: 0px;
}
.white__link1 {
    position: absolute;
    top: 38%;
    left: 65%;
}
.white__link2 {
    position: absolute;
    top: 65%;
    left: 14%;
}
.white__link3 {
    position: absolute;
    top: 65%;
    left: 58%;
}
.stock__header_img img {
    width: 100%;
}
.stock__header_content {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stock__header_content_button button {
    font-size: 14px;
    font-family: "Onest", sans-serif;
    text-transform: uppercase;
    color: #FCF8F4;
    padding: 17px 86px;
    background-color: #24160B;
}
.stock__content_pad {
    padding: 60px 30px 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #999A81;
    position: relative;
    cursor: pointer;
}
.stock__content_bottom_text {
    display: flex;
    justify-content: end;
    margin-top: 120px;
}
.stock__content_back_img {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 400ms ease-in-out;
}
.stock__content_pad:hover .stock__content_back_img {
    opacity: 1;
}
.stock__content_back_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.stock__content_bg_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.stock__content_bg_dark {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    overflow: hidden;
    background-color: rgba(36, 22, 11, 0.5);
    width: 100%;
    height: 100%;
    transition: opacity 400ms ease-in-out;
}
.stock__content_pad:hover .stock__content_bg_dark {
    opacity: 1;
}
.stock__content_pad:hover .stock__content_bg_button button {
    transform: translateY(0px);
}
.stock__content_bg_button button {
    white-space: nowrap;
    padding: 17px 137px;
    font-size: 14px;
    transform: translateY(100%);
    transition: 300ms;
    font-size: 14px;
    background: rgba(36, 22, 11, 0.6);
    font-weight: 700;
    color: #FCF8F4;
    text-transform: uppercase;
    border: 1px solid #FCF8F4;
    font-family: "Onest", sans-serif;
}
.stock__content_bg_button_midle button {
    padding: 17px 70px;
}
.stock__content_bg_button button:hover {
    background: rgba(36, 22, 11, 1);
}
.stock__content_pad_none {
    padding: 0px;
    cursor: inherit;
}
.stock__content_back_small img {
    
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}