
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  background-color: #fcf8f4;
}
h1,h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 90px;
}
p{
    font-family: "Onest", sans-serif;
    font-weight: 300;
}
button {
    font-family: "Onest", sans-serif;
    font-weight: 700;
    font-size: 14px;
}
a {
    color: #000;
    text-decoration: none;
}

/* HEADER */


.header {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
      url(/image/head_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
  }
  .container__header {
    padding: 3.1vh 4vw;
  }
  .container__header_all {
    background-color: rgba(55, 33, 13, 1);
    padding: 3.1vh 4vw;
    position: fixed;
    z-index: 10;
  }
/* ФИКСИРОВАНІЙ ХЕДЕР */
.header__scroll {
    background-color: rgba(55, 33, 13, 0);
    height: 87px;
    top: -87px;
    transition: top 1s;
   
    
}
.header__bg {
    width: 100%;
    background-color: rgba(55, 33, 13, 1);
    position: fixed;
    z-index: 1000;
    top: 0;
    
    
   
}  
/* .header__active {
    background-color: rgba(55, 33, 13, 1);
  } */
  .header span {
    text-transform: uppercase;
  }
  .menu {
      display: flex;
      align-items: center;
  }
.menu,
.basket {
  align-items: center;
  font-weight: 700;
}
.menu a {
    margin-right: 15px;
    text-decoration: none;
}
/* КНОПКА БУРГЕРА */
.menu__burger_btn {
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    margin-bottom: 3px;
}
.menu__burger_btn span,
.menu__burger_btn span::before,
.menu__burger_btn span::after {
    position: absolute;
    margin-top: -1px;
    margin-left: -10px;
    top: 50%;
    left: 25%;
    width: 40px;
    height: 2px;
    background-color: #fff;
}
.menu__burger_btn span::before,
.menu__burger_btn span::after {
    content: '';
}
.menu__burger_btn span::before {
    transform: translateY(-5px);
}
.menu__burger_btn span::after {
    transform: translateY(5px);
}
.menu__burger_btn:hover span{
    background-color: #EFAE35;
}
.menu__burger_btn:hover span::after {
    background-color: #EFAE35;
}
.menu__burger_btn:hover span::before {
    background-color: #EFAE35;
}
/* КОНЕЦ КНОПКИ БУРГЕРА */
/* ОБЩИЕ СТИЛИ МЕНЮ */
.offcanvas  {
    background-color: #fcf8f4;
}
.catalog__close {
    color: #24160B;
    font-size: 20px;
    text-align: center;
}
.catalog__close:hover {
    color: #efae35;
}
.offcanvas-header {
    margin-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #999A81;
}
.offcanvas-body {
    margin-top: 20px;
}
/* ОБЩИЕ СТИЛИ МЕНЮ */

/* БУРГЕР МЕНЮ */
.offcanvas-body_burger a{
    font-family: "Onest", sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #24160B;
}

.offcanvas-body_burger a:hover {
    color: #EFAE35;
}
.offcanvas-body_burger p{
    margin: 0px;
    padding: 10px 0px;
}

/* БУРГЕР МЕНЮ */

/* НАЧАЛО МЕНЮ КАТАЛОГ */
.cataloge__flex {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.cataloge__flex p {
    margin: 0;
    padding: 10px 0px;
}
.offcanvas-body_catalog a{
    font-family: "Onest", sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #24160B;
    
}
.offcanvas-body_catalog  a:hover {
    color: #EFAE35;
}
.cataloge__text {
    padding-left: 20px;
}
.cataloge__arrow_right{
    margin-left: auto;
}
/* КОНЕЦ МЕНЮ КАТАЛОГ */

/*НАЧАЛО МЕНЮ КАТАЛОГ ГОСТИННАЯ */



/*КОНЕЦ МЕНЮ КАТАЛОГ ГОСТИННАЯ*/

.catalode,
.basket__true {
    display: inline-block;
}
.catalode a {
    color: #fff;
}
 .menu :hover {
  color: #efae35;
  cursor: pointer;
}

.basket__true:hover {
  color: #efae35;
  cursor: pointer;
}

.img_search {
  display: inline-block;
  margin-right: 50px;
}
.img_search svg {
  stroke: #fff;
}
.img_search svg:hover {
  cursor: pointer;
  stroke: #efae35;
}


.head__text {
  margin-top: 24vh;
}
.head__text_scroll {
    margin-top: 36vh;
}
.head__tex_furniture {
    margin-top: 24vh;
}
.head__furniture_scroll {
    margin-top: 34.5vh;
}
.head__tex_furniture h1 {
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 700;
}
.head__text h1 {
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 700;
  }
.head__text p {
  font-size: 20px;
  line-height: 25px;
}

.head__text-button button {
  margin-top: 4vh;
  margin-bottom: 55vh;
  display: inline-block;
  background-color: #efae35;
  padding: 21px 72px;
  border-radius: 47px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  border: none;
}
.head__text-button button:hover {
  background-color: #fac461;
}






/* HEADER END */
/* PRODUCT SECTION */
.product__padding {
    padding: 0px 1px;
}
.products__sections {
  color: #24160b;
}
.products__sections_first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #999a81;
}

.discription__sofa h3 {
  margin-top: 50px;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
}
.discription__sofa_two {
  display: flex;
  justify-content: end;
}
.discription__sofa_two p {
  line-height: 25px;
  margin-bottom: 12vh;
  width: 80%;
  margin-bottom: 48px;
}
.sofa_madrid {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 0px 50px;
}
.head__products {
  margin-top: 40px;
}

.head__products_first span {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 28px;
}
.sofa_pos {
  padding-left: 40px;
}
.button_products button {
  display: inline-block;
  font-size: 14px;
  background-color: #24160b;
  padding: 14px 59px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.button_products button:hover {
  background-color: #453f3a;
}
.footer__products {
  margin-bottom: 44px;
}
.footer__products_first {
  display: flex;
  align-items: center;
}

/* Вторая часть продукта */
.products__sections-bg {
  border: 1px solid #999a81;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  position: relative;

}
.product__click {
  position: relative;
  flex: 1;
  width: 100%;
  padding-top: 90%;
}
.product__click_pad {
    padding-top: 0px;
}
.position__img_hover {
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* НУЖНО ИСПРАВИТЬ ДЕРГАНИЕ БЛОКА КОГДА НАВОИШЬ МыШКУ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.product__image_1 {
  padding-top: 0px;
  
}
/* НУЖНО ИСПРАВИТЬ ДЕРГАНИЕ БЛОКА КОГДА НАВОИШЬ МыШКУ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* РАБОТА С НАВИДЕНИЕМ НА ТОВАР */

.product__click .product__image_2 {
  display: none;
  
}
.product__click:hover .product__image_1 {
  display: none;
  
}
.product__click:hover .product__image_2 {
  display: block;
  
}
.add__bascet {
    /* display: flex;
    justify-content: center;
    text-align: center; */
    margin-bottom: 10%;
    
  }
.add__bascet button {
    display: inline-block;
    font-size: 14px;
    background: rgba(36, 22, 11, 0.6);
    padding: 8px 10px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    position: absolute;
    z-index: 2;
    bottom: 0;
    /* left: 7%; */
    
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    transition: 0.5s all ease;
  }
  .add__bascet button:hover {
    background: rgba(36, 22, 11, 1);
    
   
  }
.product__click img {
  width: 100%;
  height: 100%;
}
.add__bascet button{
  opacity: 1;
}
.products__sections-bg:hover .add__bascet button{
  opacity: 1;
  
  
}



.head__products_pos {
  margin-top: 24px;
  margin-bottom: 24px;
  position: absolute;
  left: 0;
  right: 0;
}
.colors_product img:nth-child(2) {
  margin-left: 6px;
}

.product__pad {
  padding: 0 25px;
  z-index: 2;
}
.footer__products_pad {
  padding: 10px 25px;
  background-color: #fef7f0;
  margin: 0;
}

.price__color span:nth-child(2) {
  background: rgba(55, 33, 13, 0.05);
}
.footer__bg {
  padding-top: 35px;
}
.products__bedroom {
  position: relative;
  z-index: 1;
}


.add__like {
  position: absolute;
  z-index: 2;
  top: 8%;
  right: 7%;
}


/* Ховер продукта */
/* .product__add {
    opacity: 0;
    transition: 0.5s all ease;
} */
.product__add:hover {
  opacity: 1;
}

/* ЛАЙК */

.like svg {
  stroke: #000;
}
.like svg:hover {
  cursor: pointer;
  stroke: red;
  fill: red;
}
.active__like svg {
  stroke: red;
  fill: red;
}
/* Лайк */

/* Летняя распродажа */

.summer__sale_bg {
  background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
  url(/image/summer__sale.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.summer__sale_border {
    border: 1px solid #999a81;
}

.summer__sale_text h1 {
  font-size: 150px;
  font-weight: 700;
  line-height: 200px;
  color: #fff;
 
  
}
.summer__sale_text p {
    color: #fff;
    margin-bottom: 40px;
}
.summer__sale_pad button {
    margin-bottom: 230px;
  }
/* КАТАЛОГ*/


/* КАТЕГОРИЯ ВЫБОРА */

.choice__category h2{
    margin-top: 370px;
    margin-bottom: 290px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}
.choice__category_1 {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/chois_category_1.png);
    background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
    text-align: center;
    
}
.choice__category_2 {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/chois_category_2.png);
    background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
    text-align: center;
    
}
.choice__category_3 {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/chois_category_3.png);
    background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
    text-align: center;
    
}
.choice__category_circle {
    display: flex;
    justify-content: center;
    margin-bottom: 158px;
}
.circle{
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    background: rgba(36, 22, 11, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice__category_wrapper svg {
    stroke: #fff;
}
.choice__category_wrapper:hover {
    cursor: pointer;
}
.choice__category_wrapper:hover .circle{
    border: 1px solid #EFAE35;
    background-color: #EFAE35;
}

.choice__category_wrapper:hover svg {
    stroke: #000;
}

/* ДИЗАЙН КОНСУЛЬТАНТ */
.design__consultant_bg {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/design_consultant.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.design__consultant_border {
    border: 1px solid #999a81;
}
/* НАША РАБОТА */

.out__work_border {
    border: 1px solid #999A81;
    
}
.out__work_pad {
    padding: 0px 1px;
}
.out__work_text {
    text-align: center;
    color: #24160b;
}
.out__work_text h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    margin-top: 200px;
}
.out__work_text p {
    margin: 30px 0 80px 0;
   
}
.out__work_image {
    text-align: center;
    margin-bottom: 230px;
    display: flex;
    justify-content: center;
}
.out__work_image-flex {
    width: 60%;
}
/* FOOTER */

.footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: #24160B;
    font-size: 30px;
    font-weight: 700;
}
.footer span {
    display: block;
}
.footer span:hover {
    color: #EFAE35;
}
.footer__left_text {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 1px;
}
.footer__right_text {
    padding: 0px 1px 0px 0px;
}
.footer_text{
    border: 1px solid #999a81;
    padding: 5px 5px;
}
.footer__right_text {
    display: flex;
    flex-direction: column;
}
.footer__media {
    border: 1px solid #999a81;
    display: flex;
    justify-content: center;
}
.footer__media a {
    margin: 62px 30px;
    
}
.footer__media svg {
    stroke: #000;
    fill: #000;
}
.footer__media svg:hover {

    stroke: #efae35;
    fill: #EFAE35;
}
.footer__text_small {
    border: 1px solid #999a81;
    padding: 0px 0px;
}
.footer__text_small a {
    font-family: "Onest", sans-serif;
    font-size: 1.1em;
    text-align: end;
    font-weight: 100;
    text-transform: inherit;
    
}
.footer__footer {
    height: 200px;
    padding: 0px 1px;
    margin-bottom: 50px;
}
.footer__footer img {
    margin: 0;
    border: 1px solid #999a81;
    padding: 0px 0px;
}

/* БЛОК ПРОДУКТА С НАВИДЕНИЕМ ВАДО */

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #999a81;
    height: 500px;
    padding: 0px;
  }
  .item__midle_size {
    height: 600px;
  }
  .item__big {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #999a81;
    height: 1200px;
    padding: 0px;
}
.item__big_madrid {
    height: 800px;
}
.item__header {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
  }
  .item__title {
      transform: rotate(90deg);
    font-size: 28px;
  }
 
  .images_parent {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .item__image,
  .item__image2 {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
  }
  .item__image2 {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 400ms ease-in-out;
  }
  
  
  .item__content {
    position: relative;
    height: 100%;
    cursor: pointer;
  }

  .item__content:hover .item__image2 {
    opacity: 1;
  }
  
  .item__button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .item__content:hover .item__button button {
    transform: translateY(0);
  }
  .item__button button {
    white-space: nowrap;
    padding: 12px 37px;
    font-size: 10px;
    transform: translateY(100%);
    transition: 300ms;
    font-size: 14px;
    background: rgba(36, 22, 11, 0.6);
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
  }
  .item__button button:hover {
    background: rgba(36, 22, 11, 1);
  }
  
  .item__footer {
    background: #fef7f0;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
  }
  .item__footer_madrid  {
      background-color: #fcf8f4;
  }
  
  .item__footer p {
      margin: 40px 0px 17px 0px;
      
  }
  .price {
    font-family: "Onest", sans-serif;
    font-weight: 300;
      display: flex;
      align-items: end;
      margin-bottom: 15px;
  }
  .silver__price {
    text-decoration: line-through;
    color: #aaa8a6;
    margin-right: 25px;
    /* padding-left: 10%; */
  }
  .item__footer_choise {
    background: #fef7f0;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
  }
  .item__footer_title_choise p {
      margin-bottom: 4px;
  }
  .item__footer_title_choise{
      padding: 9px 0px 14px 0px;
  }
  
  .item__footer_choise_pad{
      margin-left: 12px;
  }
  .item__footer_choise_price  {
    display: flex;
    align-items: end;
  }
  .silver__price_choise{
    text-decoration: line-through;
    color: #aaa8a6;
    margin-right: 20px;
  }
  .item__footer_big {
      padding-bottom: 80px;
  }
  
  .item__footer_big p {
    margin: 20px 0px 17px 0px;
  }
  /* .item__footer_madrid p {
    padding: 0;
    margin: 0;
} */
  .item__button_big button{
    padding: 17px 120px;

  }
  /* КОНЕЦ БЛОКА ПРОДУКТА С НАВИДЕНИЕМ ВАДО */


/*МОДЕЛЬНОЕ ОКНО */

.modal-content {
    border-radius: 0px;
}
.modal-body{
    padding: 0px 10%;
}
.modal-footer {
    padding: 5% 9.8%;
    border: none;
}
.modal__flex {
    display: flex;
    justify-content: space-between;
}

.modal__flex h5 {
    margin-top: 35px;
    color: #24160B;
}
.modal-content {
    background-color: #fcf8f4;
}
.form-group input {
    font-family: "Onset", sans-serif;
    background-color: #fcf8f4;
    border-radius: 0px;
    padding: 12px 20px;
    border: 1px solid #999a81;
    display: block;
  width: 100%;
  height: calc(3.25rem + 2px);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #24160B;
  background-clip: padding-box;
  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}
.form-group input::placeholder {
    font-family: "Onset", sans-serif;
    text-transform: inherit;
    font-weight: 400;
}
.form-group input:focus {
    color: #212529;
  background-color: #fcf8f4;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.form-group input:disabled,
.form-group input:read-only {
    background-color: #f5f5f5;
    opacity: 1;
}

.custom-checkbox_modal {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox_modal+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 20px;
    font-family: "Onset", sans-serif;
} 
.custom-checkbox_modal+label::before {
    content: '';
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox_modal:checked+label::before  {
      background-color: #24160B;
      border-color: #999A81;
      background-image: url(../image/checked.svg);
      
  }
.modal-title {
    font-size: 24px;
    font-weight: 700;
}
 
 .modal-header {
     border: none;
     
 }
 .modal-btn {
    width: 100%;
 }
 .modal-btn button{
     width: 100%;
    display: inline-block;
    font-size: 14px;
    background-color: #24160b;
    padding: 18px 0px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: none;
    
 }
 .btn-close:focus {
     box-shadow: none;
 }
 .modal-footer_discription {
     width: 100%;
 }
 .modal-footer_discription p{
    font-size: 13px;
    margin-bottom: 0px;
 }
 .modal-footer_discription a {
    font-family: "Onset", sans-serif;
    font-weight: 300;
    font-size: 13px;
     color: #EFAE35;
     text-decoration: none;
    
 }
 /* МОДЕЛЬНОЕ ОКНО ПОСЛЕ ЗАЯВКИ */
 
 .modal-body-performed p{
    margin: 0;
    font-size: 15px;
 }








 /* СТИЛИ ДЛЯ СТРАНИЦЫ ВСЕ ТОВАРЫ */
 .header__all_furniture{
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
      url(/image/all__furniture_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
  }

/* НАВИГАЦИЯ ВСЕХ ТОВАРОВ ПОД ХЕДЕРОМ*/
.menu__all_furniture-header-bg {
    background-color: #fcf8f4;
    
  top:2vh;
  transition: top 0.5s ease-out;
  border: 1px solid #999a81;
  animation-delay: 2s;
}
.menu__all_furniture-header-fixed {
    width:100%;
    position: fixed;
    top: 12vh;
    z-index: 9;
}
.menu__all_furniture-header-span {
    margin: 0 1.25rem;
    color: rgba(36, 22, 11, 0.7);
    margin-top: 5px;
}
.menu__all_furniture-header {
    opacity: 0;
    margin-top: 20px;
    transition: 0.3s all ease-in;
}
.menu__all_furniture-opacity {
    opacity: 1;
}
.menu__all_furniture-header ul{
    display: flex;
}
.menu__all_furniture-header ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 25px;
}
.menu__all_furniture-header ul li:first-child {
    margin-left: 0;
}
.menu__all_furniture-header ul li a {
    color: rgba(36, 22, 11, 0.7);
    position: relative; /*задаём цвет ссылки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.menu__all_furniture-header ul li a:hover {
    color: #24160B;
}
.menu__all_furniture-header ul li a:hover::after {
    display: block;
	position: absolute;
    bottom: 1px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 100%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #24160B; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out;
}
.menu__all_furniture-header .all__furniture_active {
    color: #24160B;
    cursor: default;
    pointer-events: none;
}
.menu__all_furniture-header .all__furniture_active::after {
    display: block;
	position: absolute;
    bottom: 1px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 100%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #24160B; /*задаём цвет линии*/
	content: "";
}
/* НАВИГАЦИЯ ВСЕХ ТОВАРОВ НА СТАРНИЦЕ*/
 
  .menu__all_furniture {
      margin-top: 40px;
  }
.menu__all_furniture ul{
    display: flex;
    padding-left: 10px;
}
.menu__all_furniture ul li{
    list-style: none;
    text-transform: uppercase;
    
    font-size: 25px;
    margin-left: 20px;
}
.menu__all_furniture ul li:first-child {
    margin-left: 0;
}
.menu__all_furniture ul li a {
    color: #fff;
    position: relative; /*задаём цвет ссылки*/
	text-decoration: none; /*убираем подчёркивание*/
    
}

.menu__all_furniture ul li a:hover {
    color: #EFAE35;
}
.menu__all_furniture ul li a:hover::after {
    display: block;
	position: absolute;
    bottom: 1px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 100%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #EFAE35; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out;
    
}
.menu__all_furniture .all__furniture_active {
    color: #EFAE35;
    cursor: default;
    pointer-events: none;
}
.menu__all_furniture .all__furniture_active::after {
    display: block;
	position: absolute;
    bottom: 1px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 100%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #EFAE35; /*задаём цвет линии*/
	content: "";
}
 .design__decige_bg {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/decide.png);
    background-size: cover;
    background-repeat: no-repeat;
}
