
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  background-color: #fcf8f4;
  color: #24160B;
}
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 200px;
   line-height: 200px;
}
input {
    font-family: "Onest", sans-serif;
}
p{
    font-family: "Onest", sans-serif;
    font-size: 20px;
    font-weight: 300;
}
button {
    font-family: "Onest", sans-serif;
    font-weight: 700;
    font-size: 14px;
}
a {
    color: #000;
    text-decoration: none;
}

/* HEADER */


.header {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
      url(/image/head_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    color: #fff;
  }
  .container__header {
    padding: 4.1vh 4vw;
  }
  .container__header_home {
      width: 100%;
    z-index: 99;
  }
  .container__header_all {
    background-color: rgba(55, 33, 13, 1);
    /* padding: 30px 4vw; */
    padding: 4.1vh 4vw;
    position: fixed;
    z-index: 10;
  }
  .container__header_card {
    background-color: rgba(55, 33, 13, 1);
    /* padding: 30px 4vw; */
    padding: 4.1vh 4vw;
    z-index: 10;
  }
  .container__header_all_pad {
      transition: padding 0.5s;
    padding: 3.1vh 4vw;
  }
/* ФИКСИРОВАНІЙ ХЕДЕР */
.header__scroll {
    padding: 3.1vh 4vw;
    background-color: rgba(55, 33, 13, 1);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 15;
    transition: transform 0.4s;
    transform: translateY(-100%);
}
.header__bg {
    /* width: 100%;
    background-color: rgba(55, 33, 13, 1);
    position: fixed;
    z-index: 1000;
    top: 0; */
    padding: 3.1vh 4vw;
    transform: translateY(0%); 
    transition: transform 1s;
   
}  
/* .header__active {
    background-color: rgba(55, 33, 13, 1);
  } */
  .header span {
    text-transform: uppercase;
  }
 
.menu,
.basket {
    display: flex;
      align-items: center;
    font-weight: 700;
}
.basket {
    justify-content: end;
}
.menu a {
    margin-right: 15px;
    text-decoration: none;
}
/* КНОПКА БУРГЕРА */
.menu__burger_btn {
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    margin-bottom: 3px;
}
.menu__burger_btn span,
.menu__burger_btn span::before,
.menu__burger_btn span::after {
    position: absolute;
    margin-top: -1px;
    margin-left: -10px;
    top: 50%;
    left: 25%;
    width: 40px;
    height: 2px;
    background-color: #fff;
}
.menu__burger_btn span::before,
.menu__burger_btn span::after {
    content: '';
}
.menu__burger_btn span::before {
    transform: translateY(-5px);
}
.menu__burger_btn span::after {
    transform: translateY(5px);
}
.menu__burger_btn:hover span{
    background-color: #EFAE35;
}
.menu__burger_btn:hover span::after {
    background-color: #EFAE35;
}
.menu__burger_btn:hover span::before {
    background-color: #EFAE35;
}
/* КОНЕЦ КНОПКИ БУРГЕРА */
/* ОБЩИЕ СТИЛИ МЕНЮ */
.offcanvas  {
    background-color: #fcf8f4;
}
.catalog__close {
    margin-left: 10px;
    color: #24160B;
    font-size: 20px;
    text-align: center;
}
.catalog__close:hover {
    color: #efae35;
}
.offcanvas-header {
    margin: 0;
    padding: 0;
    padding: 50px 0px 50px 10px;
    border-bottom: 1px solid #999A81;
}

.offcanvas-header_pad {
   padding: 38px 0px 38px 10px;
   margin: 0;
}
.offcanvas-body {
    margin-top: 20px;
}
/* ОБЩИЕ СТИЛИ МЕНЮ */

/* БУРГЕР МЕНЮ */
.offcanvas.offcanvas-start {
    width: 416px;
}
.offcanvas-body_burger a{
    font-family: "Onest", sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #24160B;
}

.offcanvas-body_burger a:hover {
    color: #EFAE35;
}
.offcanvas-body_burger p{
    margin: 0px;
    padding: 16px 0px;
    padding-left: 10px;
    font-size: 18px;
}

/* БУРГЕР МЕНЮ */
/* НАЧАЛО МЕНЮ КОРЗИНА */
.offcanvas.offcanvas-end {
    width: 592px;
    background-color: #fcf8f4;

}
.offcanvas-header_right {
    border-bottom: 1px solid #24160B;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding-bottom: 34px;
    padding-top: 34px;
}
.offcanvas-body_right {
    overflow: scroll;
}
.offcanvas-header_right-pad {
    padding-bottom: 24px;
    padding-top: 24px;
}
.offcanvas-header_right h5{
    font-family: "Bebas Neue", sans-serif;
    color: #24160B;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.container__basket {
    padding: 32px 32px 43px;
    border-bottom: 1px solid #999A81;
}
.container__basket_content {
    padding-left: 2vw;
}
.container__basket_content h5{
    font-family: "Onest", sans-serif;
    font-size: 16px;
    color: #24160B;
}
.container__basket_content p {
    font-size: 14px;
    color: #24160B;
}
.container__basket_img {
    display: flex;
    align-items: center;
    position: relative;
}
.container__basket_img_parent {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

  .container__basket_content_discription {
      margin-bottom: 28px;
  }
.container__basket_count {
    display: flex;
}
.basket_count {
    position: relative;
    border: 1px solid #999A81;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition:0.3s all;
}
.basket_count::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 13px;
    height: 1px;
    background-color: #24160B;
}

.basket_count:hover {
    border-color: #24160B;
    background-color: #24160B;
    cursor: pointer;
    transition:0.3s all;
}
.basket_count:hover::before,
.basket_count:hover::after  {
    background-color: #fff;
}

.container__basket_count_plus::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1px;
    height: 13px;
    background-color: #24160B;
}
.container__basket_content_number{
    display: flex;
    align-items: center;
    padding: 0px 18px;
    color: #24160B;
}
.container__basket_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
}
.container__basket_price h5{
    font-size: 20px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    color: #24160B;
}
.container__basket_price a {
    font-family: "Onest", sans-serif;
    font-size: 14px;
    color: #999A81;
}
.container__basket_price a:hover {
    color: #24160B;
}
.offcanvas-footer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.offcanvas-footer_right {
    margin-top: 37px;
    padding: 32px 32px 35px;
    border-top: 1px solid #24160B;
    background-color: #fef7f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.offcanvas-footer_header h5{
    font-size: 28px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    color: #24160B;
}
.offcanvas-footer_bootom {
    margin-top: 55px;
}

.offcanvas-footer_bootom p{
    color: #24160B;
    font-size: 14px;
}
.offcanvas-footer_bootom-btn {
    display: flex;
    justify-content: space-between;
}
.offcanvas-footer_bootom-btn button{
    font-family: "Onest", sans-serif;
    padding: 17px 50px;
    text-transform: uppercase;
    border:none;
    background-color: #fef7f0;
    border: 1px solid #24160B;
}
.offcanvas-footer_bootom-btn button:hover {
    background-color: #24160B;
    color: #fff;
}
.offcanvas-footer_bootom-btn .two__button button{
    background-color: #24160B;
    color: #fff;
}
/* МОДЕЛЬНОЕ ОКНО ОЧИСТИТЬ КОРЗИНУ */
.modal__basket_text-clear h5 {
    color: #24160B;
}
.modal-btn_clear_basket {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal-btn_clear_basket button {
    font-size: 14px;
    text-transform: uppercase;

    padding: 17px 50px;
    border: 1px solid #24160B;
    color: #24160B;
    background-color: transparent;
}
.modal-btn_clear_basket button:hover {
    background-color: #24160B;
    color: #fff;
}

/* НАЧАЛО МЕНЮ КАТАЛОГ */
.cataloge__flex {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.cataloge__flex p {
    margin: 0;
    padding: 20px 0px;
}
.offcanvas-body_catalog a{
    font-family: "Onest", sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #24160B;
    
}
.offcanvas-body_catalog  a:hover {
    color: #EFAE35;
}
.cataloge__text {
    padding-left: 20px;
}
.cataloge__arrow_right{
    margin-left: auto;
}
.clear__all_basket_position {
    border-bottom: none;
    padding-top: 16px;
}

/* КОНЕЦ МЕНЮ КАТАЛОГ */

/*НАЧАЛО МЕНЮ КАТАЛОГ ГОСТИННАЯ */



/*КОНЕЦ МЕНЮ КАТАЛОГ ГОСТИННАЯ*/

.catalode,
.basket__true,
.quantity__cart {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    
}
.basket__true a {
    color: #fff;
}
.catalode a {
    color: #fff;
}
 .menu :hover {
  color: #efae35;
  cursor: pointer;
}

.basket__true:hover {
  color: #efae35;
  cursor: pointer;
}

.img_search {
  display: inline-block;
  margin-right: 50px;
}
.img_search svg {
  stroke: #fff;
}
.img_search svg:hover {
  cursor: pointer;
  stroke: #efae35;
}
.quantity__cart {
  text-align: center;
  vertical-align: middle;
    margin-left: 15px;
    
}
.quantity__cart a {
    padding: 5px 7px 1px ;
    background-color: #EFAE35;
    border-radius: 40%;
    color: #24160B;
}

.head__text {
  margin-top: 170px;
}
.head__text_scroll {
    margin-top: 36vh;
}
.head__tex_furniture {
    margin-top: 140px;
    margin-bottom: 250px;
}
.head__furniture_scroll {
    margin-top: 34.5vh;
}
.head__tex_furniture h1 {
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 700;
}
.head__text h1 {
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 700;
  }
.head__text p {
  font-size: 20px;
  line-height: 25px;
}

.head__text-button button {
  margin-top: 48px;
  margin-bottom: 130px;
  display: inline-block;
  background-color: #efae35;
  padding: 21px 72px;
  border-radius: 47px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  border: none;
}
.head__text-button button:hover {
  background-color: #fac461;
}






/* HEADER END */
/* PRODUCT SECTION */
.product__pad {
    border: 1px solid #999A81;
}
.product__padding {
    padding: 0px 1px;
    
}
.products__sections {
  color: #24160b;
}
.products__sections_first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #999a81;
}

.discription__sofa h3 {
  margin-top: 50px;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}
.discription__sofa_two {
  display: flex;
  justify-content: end;
}
.discription__sofa_two p {
    font-size: 18px;
  line-height: 25px;
  margin-bottom: 12vh;
  width: 80%;
  margin-bottom: 48px;
}
.sofa_madrid {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 0px 50px;
}
.head__products {
  margin-top: 40px;
}

.head__products_first span {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 28px;
}
.sofa_pos {
  padding-left: 40px;
}
.button_products button {
  display: inline-block;
  font-size: 14px;
  background-color: #24160b;
  padding: 14px 50px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.button_products button:hover {
  background-color: #453f3a;
}
.footer__products {
  margin-bottom: 44px;
}
.footer__products_first {
  display: flex;
  align-items: center;
}

/* Вторая часть продукта */
.products__sections-bg {
  border: 1px solid #999a81;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  position: relative;

}
.product__click {
  position: relative;
  flex: 1;
  width: 100%;
  padding-top: 90%;
}
.product__click_pad {
    padding-top: 0px;
}
.position__img_hover {
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* НУЖНО ИСПРАВИТЬ ДЕРГАНИЕ БЛОКА КОГДА НАВОИШЬ МыШКУ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.product__image_1 {
  padding-top: 0px;
  
}
/* НУЖНО ИСПРАВИТЬ ДЕРГАНИЕ БЛОКА КОГДА НАВОИШЬ МыШКУ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* РАБОТА С НАВИДЕНИЕМ НА ТОВАР */

.product__click .product__image_2 {
  display: none;
  
}
.product__click:hover .product__image_1 {
  display: none;
  
}
.product__click:hover .product__image_2 {
  display: block;
  
}
.add__bascet {
    /* display: flex;
    justify-content: center;
    text-align: center; */
    margin-bottom: 10%;
    
  }
.add__bascet button {
    display: inline-block;
    font-size: 14px;
    background: rgba(36, 22, 11, 0.6);
    padding: 8px 10px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    position: absolute;
    z-index: 2;
    bottom: 0;
    /* left: 7%; */
    
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    transition: 0.5s all ease;
  }
  .add__bascet button:hover {
    background: rgba(36, 22, 11, 1);
    
   
  }
.product__click img {
  width: 100%;
  height: 100%;
}
.add__bascet button{
  opacity: 1;
}
.products__sections-bg:hover .add__bascet button{
  opacity: 1;
  
  
}



.head__products_pos {
  margin-top: 24px;
  margin-bottom: 24px;
  position: absolute;
  left: 0;
  right: 0;
}
.colors_product img:nth-child(2) {
  margin-left: 6px;
}

.product__pad {
  padding: 0 25px;
  z-index: 2;
}
.footer__products_pad {
  padding: 10px 25px;
  background-color: #fef7f0;
  margin: 0;
}

.price__color span:nth-child(2) {
  background: rgba(55, 33, 13, 0.05);
}
.footer__bg {
  padding-top: 35px;
}
.products__bedroom {
  position: relative;
  z-index: 1;
}


.add__like {
  position: absolute;
  z-index: 2;
  top: 8%;
  right: 7%;
}


/* Ховер продукта */
/* .product__add {
    opacity: 0;
    transition: 0.5s all ease;
} */
.product__add:hover {
  opacity: 1;
}

/* ЛАЙК */

.like svg {
  stroke: #000;
}
.like svg:hover {
  cursor: pointer;
  stroke: red;
  fill: red;
}
.active__like svg {
  stroke: red;
  fill: red;
}
/* Лайк */

/* Летняя распродажа */

.summer__sale_bg {
  background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
  url(/image/summer__sale.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.summer__sale_border {
    border: 1px solid #999a81;
}

.summer__sale_text h1 {
  
  font-weight: 700;
  line-height: 200px;
  color: #fff;
 
  
}
.summer__sale_text p {
    color: #fff;
    font-size: 20px;
}
.summer__sale_pad button {
    margin-bottom: 230px;
  }
/* КАТАЛОГ*/


/* КАТЕГОРИЯ ВЫБОРА */

.choice__category h2{
    margin-top: 374px;
    margin-bottom: 290px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
}
.choice__category_1 {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/chois_category_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    
}
.choice__category_2 {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/chois_category_2.png);
    background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
    text-align: center;
    
}
.choice__category_3 {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/chois_category_3.png);
    background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
    text-align: center;
    
}
.choice__category_circle {
    display: flex;
    justify-content: center;
    margin-bottom: 158px;
}
.circle{
    border: 1px solid #fff;
    width: 65px;
    height: 65px;
    background: rgba(36, 22, 11, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice__category_wrapper svg {
    width: 30px;
    height: 30px;
    stroke: #fff;
}
.choice__category_wrapper:hover {
    cursor: pointer;
}
.choice__category_wrapper:hover .circle{
    border: 1px solid #EFAE35;
    background-color: #EFAE35;
}

.choice__category_wrapper:hover svg {
    stroke: #000;
}

/* ДИЗАЙН КОНСУЛЬТАНТ */
.design__consultant_bg {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/design_consultant.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.design__consultant_border {
    border: 1px solid #999a81;
}
/* НАША РАБОТА */

.out__work_border {
    border: 1px solid #999A81;
    
}
.out__work_pad {
    padding: 0px 1px;
}
.out__work_text {
    text-align: center;
    color: #24160b;
}
.out__work_text h2 {
  
    font-weight: 700;
    font-size: 80px;
    line-height: 104px;
    margin-top: 230px;
}
.out__work_text p {
    margin: 8px 0 80px 0;
   
}
.out__work_image {
    text-align: center;
    margin-bottom: 230px;
    display: flex;
    justify-content: center;
}
.out__work_image-flex {
    width: 60%;
}
/* FOOTER */

.footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: #24160B;
    font-size: 40px;
    font-weight: 700;
}
.footer span {
    display: block;
}
/* .footer span:hover {
    color: #EFAE35;
} */
.footer__left_text {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}
.footer__right_text {
    padding: 0px 1px 0px 0px;
}
.footer_text{
    border: 1px solid #999a81;
    padding: 8px 2px;
}
/* .footer_text button{
    text-transform: uppercase;
    color: #24160B;
    font-size: 40px;
    font-weight: 700;
} */
.footer__right_text {
    display: flex;
    flex-direction: column;
}
.footer__media {
    border: 1px solid #999a81;
    display: flex;
    justify-content: center;
}
.footer__media a {
    margin: 86px 36px;
    
}
.footer__media svg {
    stroke: #000;
    fill: #000;
}
/* .footer__media svg:hover {

    stroke: #efae35;
    fill: #EFAE35;
} */
.footer__text_small {
    border: 1px solid #999a81;
    padding: 6px 10px;
    padding-top: 7px;
}
.footer__text_small a {
    font-family: "Onest", sans-serif;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: end;
    font-weight: 200;
    text-transform: inherit;
    
}
.footer__footer {
    height: 200px;
    padding: 0px 1px;
    margin-bottom: 50px;
}
.footer__footer img {
    margin: 0;
    border: 1px solid #999a81;
    padding: 0px 0px;
}

/* БЛОК ПРОДУКТА С НАВИДЕНИЕМ ВАДО !!!!!!!!!!!!!!!!!!!!!!!!!*/

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #999a81;
    height: 558px;
    padding: 0px;
  }
  .item__midle_size {
    height: 718px;
  }
  .item__big {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #999a81;
    height: 1436px;
    padding: 0px;
}
/*ВЫСОТА КАРТОЧКИ ТОВАРА И НИЖНИЙ ОТСТУП */
.item__goods_card {
    height: 800px;
    margin-bottom: 20px;
}
/* ЗАКОНЧИЛИСЬ НАСТРОЙКИ КАРТОЧКИ ТОВАРА */
.item__big_madrid {
    height: 800px;
    
}
.item__header {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
  }
  .item__title {
      transform: rotate(90deg);
    font-size: 28px;
    font-weight: 700;
  }
 
  .images_parent {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .item__image,
  .item__image2,
  .item__image3 {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
  }
  .item__image2 {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 400ms ease-in-out;
  }

  /* ПЕРЕКЛЮЧАТЕЛЬ ЦВЕТА */
  .elipse__choise1 {
     cursor: pointer;
  }
  .elipse__choise2 {
      cursor: pointer;
  }
  .item__image {
      opacity: 0;
  }
  .item__image3 {
      opacity: 0;
  }
  .item__image_opacity{
      opacity: 1;
      transition: 1s opacity ease;
  }
  .elipse__active {
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px #000;
   
  }
  .elipse__active::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      border: 1px solid green;
      width: 40px;
      height: 40px;
      background-color: #A44016;
      border-radius: 50%;
  }



  .item__content {
    position: relative;
    height: 100%;
    cursor: pointer;
  }
  /*УБИРАЕМ  КУРСОР КАРТОЧКИ ТОВАРА */
.item__content_goods_cart {
    cursor: inherit;
}
/* ЗАКОНЧИЛИ С КУРСОРОМ КАРТОЧКИ ТОВАРА */
  .item__content:hover .item__image2 {
    opacity: 1;
  }
  
  .item__button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .item__content:hover .item__button button {
    transform: translateY(0);
  }
  .item__button button {
    white-space: nowrap;
    padding: 12px 37px;
    font-size: 10px;
    transform: translateY(100%);
    transition: 300ms;
    font-size: 14px;
    background: rgba(36, 22, 11, 0.6);
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
  }
  .item__button button:hover {
    background: rgba(36, 22, 11, 1);
  }
  
  .item__footer {
    background: #fef7f0;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
  }
  .item__footer_madrid  {
      background-color: #fcf8f4;
  }
  
  .item__footer p {
      margin: 40px 0px 17px 0px;
      
  }
  .price {
    font-family: "Onest", sans-serif;
    font-weight: 300;
      display: flex;
      align-items: end;
      margin-bottom: 15px;
  }
  .silver__price {
    text-decoration: line-through;
    color: #aaa8a6;
    margin-right: 25px;
    /* padding-left: 10%; */
  }
  .item__footer_choise {
    background: #fef7f0;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
  }
  .item__footer_title_choise p {
      margin-bottom: 4px;
      font-size: 18px;
  }
  .item__footer_title_choise{
      padding: 9px 0px 14px 0px;
  }
  
  .item__footer_choise_pad{
      margin-left: 12px;
  }
  .item__footer_choise_price  {
    display: flex;
    align-items: end;
  }
  .silver__price_choise{
    text-decoration: line-through;
    color: #aaa8a6;
    margin-right: 20px;
  }
  .item__footer_big {
      padding-bottom: 80px;
  }
  
  .item__footer_big p {
    margin: 20px 0px 17px 0px;
  }
  /* .item__footer_madrid p {
    padding: 0;
    margin: 0;
} */
  .item__button_big button{
    padding: 17px 120px;

  }
  /* КОНЕЦ БЛОКА ПРОДУКТА С НАВИДЕНИЕМ ВАДО */


/*МОДЕЛЬНОЕ ОКНО */
.btn-close {
    font-size: 20px;
}
.modal-content {
    border-radius: 0px;
}
.modal-body{
    padding: 0px 10%;
}
.modal-footer {
    padding: 5% 8.8%;
    border: none;
}
.modal__flex {
    display: flex;
    justify-content: space-between;
}

.modal__flex h5 {
    margin-top: 35px;
    color: #24160B;
}
.modal-content {
    background-color: #fcf8f4;
}
.form-group input {
    font-family: "Onset", sans-serif;
    background-color: #fcf8f4;
    border-radius: 0px;
    padding: 12px 20px;
    border: 1px solid #999a81;
    display: block;
  width: 100%;
  height: calc(3.25rem + 2px);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #24160B;
  background-clip: padding-box;
  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}
.form-group input::placeholder {
    font-family: "Onset", sans-serif;
    text-transform: inherit;
    font-weight: 400;
}
.form-group input:focus {
    color: #212529;
  background-color: #fcf8f4;
  border-color: #bdbdbd;
  outline: 0;
  
}
.form-group input:disabled,
.form-group input:read-only {
    background-color: #f5f5f5;
    opacity: 1;
}

.custom-checkbox_modal {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox_modal+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 20px;
    font-family: "Onset", sans-serif;
} 
.custom-checkbox_modal+label::before {
    content: '';
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox_modal:checked+label::before  {
      background-color: #24160B;
      border-color: #999A81;
      background-image: url(../image/checked.svg);
      
  }
.modal-title {
    font-size: 24px;
    font-weight: 700;
}
 
 .modal-header {
     border: none;
     
 }
 .modal-btn {
    width: 100%;
 }
 .modal-btn button{
     width: 100%;
    display: inline-block;
    font-size: 14px;
    background-color: #24160b;
    padding: 18px 0px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: none;
    
 }
 .btn-close:focus {
     box-shadow: none;
 }
 .modal-footer_discription {
     width: 100%;
 }
 .modal-footer_discription p{
    font-size: 13px;
    margin-bottom: 0px;
 }
 .modal-footer_discription a {
    font-family: "Onset", sans-serif;
    font-weight: 300;
    font-size: 13px;
     color: #EFAE35;
     text-decoration: none;
    
 }
 /* МОДЕЛЬНОЕ ОКНО ПОСЛЕ ЗАЯВКИ */
 
 .modal-body-performed p{
    margin: 0;
    font-size: 15px;
 }




/* МЕНЮ ПОИСКОВИК ВЫПЛЫВАЮЩИЙ */
.offcanvas.offcanvas-top{
    height: 200px;
}
.offcanvas-body_search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcf8f4;
    margin-top: 0;
}
.search {
   
    width: 100%;
    
  

 
 
    
}

.search__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    
}


.search__menu input {
    width: 573px;
    border:none;
    font-family: "Onset", sans-serif;
    background-color: #fcf8f4;
    border-radius: 0px;
    padding: 12px 0px;
    border-bottom: 1px solid #24160B;
    display: block;
  height: calc(2.25rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #24160B;
  background-clip: padding-box;
  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search__menu input::placeholder {
    font-family: "Onset", sans-serif;
    text-transform: inherit;
    font-weight: 400;
}
.search__menu input:focus {
  background-color: #fcf8f4;
  outline: 0;
  
}
.search__menu button {
    margin-bottom: 3px;
    
    display: inline-block;
    font-size: 14px;
    background-color: #24160b;
    padding: 10px 50px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: none;
}

 /* СТИЛИ ДЛЯ СТРАНИЦЫ ВСЕ ТОВАРЫ */
 .header__all_furniture{
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
      url(/image/all__furniture_header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 99;
  }
  .div__plug_header {
      height: 120px;
  }
/* НАВИГАЦИЯ ВСЕХ ТОВАРОВ ПОД ХЕДЕРОМ*/
.menu__all_furniture-header-bg {
    /* background-color: #fcf8f4; */
    
  /* top:2vh;
  transition: top 0.5s ease-out; */
  border: 1px solid #999a81;
  position: fixed;
  top: 89px;
  width: 100%;
  text-align:center;
  z-index: 9;
  transform: translateY(-100%);
  opacity: 0;
  
/*   transition: transform .1s; */
  transition-delay: 0ms;
}
.menu__all_furniture-header-fixed {
    opacity: 1;
    background-color: #fcf8f4;
  transition: transform 1s;
  transform: translateY(0%);
  transition-delay: 0.6s;
}
.menu__all_furniture-header-span {
    margin: 0 1.25rem;
    color: rgba(36, 22, 11, 0.7);
    margin-top: 5px;
}
.menu__all_furniture-header {
    margin-top: 40px;
    transition: 0.3s all ease-in;
}

.menu__all_furniture-header ul{
    display: flex;
}
.menu__all_furniture-header ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 28px;
}
.menu__all_furniture-header ul li:first-child {
    margin-left: 0;
}
.menu__all_furniture-header ul li a {
    color: rgba(36, 22, 11, 0.7);
    position: relative; /*задаём цвет ссылки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.menu__all_furniture-header ul li a:hover {
    color: #24160B;
}
.menu__all_furniture-header ul li a:hover::after {
    display: block;
	position: absolute;
    bottom: 1px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 100%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #24160B; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out;
}
.menu__all_furniture-header .all__furniture_active {
    color: #24160B;
    cursor: default;
    pointer-events: none;
}
.menu__all_furniture-header .all__furniture_active::after {
    display: block;
	position: absolute;
    bottom: 1px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 100%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #24160B; /*задаём цвет линии*/
	content: "";
}
/* НАВИГАЦИЯ ВСЕХ ТОВАРОВ НА СТАРНИЦЕ*/
 
  .menu__all_furniture {
      margin-top: 32px;
  }
.menu__all_furniture ul{
    display: flex;
    padding-left: 10px;
}
.menu__all_furniture ul li{
    list-style: none;
    text-transform: uppercase;
    
    font-size: 32px;
    margin-left: 20px;
}
.menu__all_furniture ul li:first-child {
    margin-left: 0;
}
.menu__all_furniture ul li a {
    color: #fff;
    position: relative; /*задаём цвет ссылки*/
	text-decoration: none; /*убираем подчёркивание*/
    
}

.menu__all_furniture ul li a:hover {
    color: #EFAE35;
}
.menu__all_furniture ul li a:hover::after {
    display: block;
	position: absolute;
    bottom: 1px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 100%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #EFAE35; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out;
    
}
.menu__all_furniture .all__furniture_active {
    color: #EFAE35;
    cursor: default;
    pointer-events: none;
}
.menu__all_furniture .all__furniture_active::after {
    display: block;
	position: absolute;
    bottom: 1px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 100%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #EFAE35; /*задаём цвет линии*/
	content: "";
}
 .design__decige_bg {
    background: linear-gradient(rgba(36, 22, 11, 0.5), rgba(36, 22, 11, 0.5)),
    url(/image/decide.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* КАРТОЧКА ТОВАРА !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.section_card {
    margin-top: 0px;
    padding-left: 130px;
    padding-right: 155px;
    margin-bottom: 150px;
}
    .goods_card {
        height: auto;
        background-image: none;
    }
    
    .card_photo {
        margin-bottom: 20px;
    }
    .card_photo img {
        width: 100%;
    }
    .nav__card ul {
        display: flex;
        padding: 0;
        margin-top: 40px;

    }
    .nav__card ul li {
        list-style: none;
      text-transform: uppercase;
      font-size: 12px;
    }
    .nav__card ul li a {
        color: rgba(36, 22, 11, 0.7);
        position: relative; /*задаём цвет ссылки*/
        text-decoration: none; /*убираем подчёркивание*/
        font-weight: 700;
    }
    .card__slash {
        
        margin: 0px 10px;
    color: rgba(36, 22, 11, 0.7);
    margin-top: -2px;
    }
    .nav__card ul li a:hover {
        color: #24160B;
    }
    .section_card .goods__card_active {
        color: #24160B;
        cursor: default;
        pointer-events: none;
    }
   
    .discription__card {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .discription__card h1 {
        color: #24160B;
        font-size: 60px;
        line-height: normal;
    }
    .discription__card p {
        font-weight: 300;
        color: #24160B;
        font-size: 18px;
    }
    .card__silver_price {
        color: #AAA8A6;
    }
    .card__price {
        margin-bottom: 40px;
    }
    .card__price span {
        font-size: 28px;
        
    }
    .card__price span:nth-child(1) {
        margin-right: 17px;
    }


    
    
    
    
   
    .chise__color {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: gray;
        vertical-align: middle;
    }
    .choise__text {
        margin-left: 10px;
       
    }
    
   
    .dropdown.dropdown__active .option {
        display: block;
    }
   
    .dropdown .option div {
        padding: 12px 20px;
        cursor: pointer;
        color: #24160B;
        align-items: center;
        font-size: 14px;
        font-family: "Onest", sans-serif;
    }
    
    
    .dropdown .option:nth-child(2) {
        padding-top: 12px;
    }
    
    .dropdown .option:last-child {
        padding-bottom: 12px;
    }
   
    .dropdown .option div:hover {
        background-color: #fcf8f4;
    }
    

    .chise__color_1 {
        background-color: #5B5B5B;
    }
    .chise__color_2 {
        background-color: #D49113;
    }
    .chise__color_3 {
        background-color: #A44016;
    }
    .dropdown-flex {
        display: flex;
        justify-content: space-between;
    }
    .dropdown {
        position: relative;
        width: 252px;
        cursor: pointer;
        transition: 1s all ease;
    }
    .dropdown input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: 1px solid rgba(153, 154, 129, 0.6);
        background-color: #fcf8f4;
        outline:none;
        padding: 20px 14px;
        padding-right: 40px;
        font-size: 14px;
        font-family: "Onest", sans-serif;
        
    }
    .dropdown .dropdown-text {
        position: relative;
        border: 1px solid #999A8199;
        height: 52px;
        display: flex;
        padding-left: 20px;
        font-family: "Onest", sans-serif;
        align-items: center;
        font-size: 14px;
        overflow: hidden;
    }
    .dropdown-text p {
        display: flex;
        align-items: center;
        pointer-events: none;
        margin-bottom: 0;
        white-space: nowrap;
        font-weight: inherit;
        font-size: 14px;
        font-family: "Onest", sans-serif;
    }
    .dropdown-text_input {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        background: linear-gradient(to left, #fcf8f4 21% ,transparent 40%);
    }
    
   
    .dropdown .option {
        position: absolute;
        top: 55px;
        width: 100%;
        background-color: #fff;
        box-shadow: 2px -4px 12px rgba(55, 55, 55, 0.2), -2px 4px 12px rgba(55, 55, 55, 0.2);
        overflow: hidden;
        display: none;
        transition: display 1s;
        z-index: 100;
        
    }
    .dropdown::before {
        content: '';
        position: absolute;
        right: 25px;
        top: 20px;
        box-shadow: -2px 4px 12px #fcf8f4;
        z-index: 9; 
        border-width: 11.4px 8px 0 8px;
        border-color: #24160B transparent transparent transparent;
        border-style: solid;
        width: 0;
        height: 0;
         transition: 0.5s;
         pointer-events: none;
         transform: rotate(0deg);
         
         
     }
    
     .dropdown.dropdown__active::before {
         top: 18px;
         transform: rotate(-180deg);
     }
    .dropdown.color-picker .color{
        display: inline-block;
        border-radius: 10px;
        width: 20px;
        height: 20px;
    }
    
    .dropdown .dropdown-item {
        display: flex;
        align-items: center;
    }
    .dropdown.color-picker .color {
        margin-right: 10px;
    }
    .dropdown.color-picker .color.antritsat {
        background-color: silver;
    }
    .dropdown.color-picker .color.green {
        background-color: green;
    
    }
    .dropdown.color-picker .color.brown {
        background-color: brown;
    
    }
   






.button__card {
    margin-top: 10px;
    width: 100%;
    
    text-align: center;
    
}
.button__card button{
    margin-top: 10px;
    width: 100%;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    background-color: #24160b;
    padding: 18px 0px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: none;
}

.discription__goods_card {
    margin-top: 140px;
}
.goods__card_header-text a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: "Onest", sans-serif;
    
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;

}
.goods__card_header-text a:hover {
    color: #24160B;
}
.goods__card_header-text ul li {
    font-family: "Onest", sans-serif;
    color: #24160B;
    font-size: 14px;
    padding-bottom: 8px;
}

.materials ul li{
    list-style: none;
}
.size__card_text ul li {
    list-style: none;
}
.goods__card_header-text ul li span {
    font-weight: 300;
}
.size__goods-cars-image {
    margin-bottom: 50px;
}
.payment__goods_card p {
    font-family: "Onest", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    
}
.payment__goods_card ul li {
    padding-bottom: 0px;
}
.ordering__input_personal_cabinet {
    margin-top: 60px;
}



/* МОДЕЛЬНОЕ ОКНО САЙТА ДЛЯ ПРОФЕСИОНАЛОВ */
.modal__site_proffesional .modal-title {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: "Bebas Neue", sans-serif;
}
.modal__site_proffesional  .modal-body p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Onest", sans-serif;
    margin-bottom: 20px;
}
.modal__site_proffesional  .modal-body .carousel-inner p {
    font-size: 14px;
}

.modal__site_proffesional .modal-dialog {
    max-width: 600px;
    
}
.modal__site_proffesional .modal-body {
    padding: 0px 50px;
}
.modal__site_proffesional .modal-footer {
    padding: 55px 50px 50px 50px;
}
.modal__site_proffesional .modal-footer button {
    width: 100%;
}

.modal__site_proffesional .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(36, 22, 11, 1);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .4;
    transition: opacity .6s ease;
}
.modal__site_proffesional .carousel-indicators .active {
    
    opacity: 1;
}
.modal__site_proffesional .carousel-caption {
    position: static;
    color: rgba(36, 22, 11, 1);
    height: 120px;
    padding-top: 20px;
    padding-bottom: 1.25rem;
     text-align: left;
}
.modal__site_proffesional .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: -2rem;
    margin-left: 15%;
    
    list-style: none;
}


/* ПОИСКОВИК */
.offcanvas-header_search{
    border-bottom: none;
    display: flex;
    justify-content: end;
    padding: 37px 32px 50px 10px;
}


/* МОДЕЛЬНОЕ ОКНО ВАЛИДАЦИЯ */

.form-group {
    position: relative;
}
.form-group label {
    position: absolute;
    left: 20px;
    top: 21px;
    transition: top 0.5s;
    font-family: "Onest", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgba(36, 22, 11, 0.5);
    cursor: text;
  }
  .form-group input::placeholder {
    color: transparent;
  }
  .form-group input:focus+label,
  .form-group input:not(:placeholder-shown)+label {
      top: 5px;
      
  }
   .modal__form_group input {
      padding-bottom: 4px;
      padding-top: 30px;
      font-weight: 400;
      text-transform: capitalize;
      margin-bottom: 0px;
  }
  
  
  
  .modal__form_group .form-group input:focus,
  .modal__form_group .form-group input:not(:placeholder-shown){
      background-color: #fff;
  }

  input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.modal__form_group .ordering__input_form {
    
    width: 100%;
}
.adress__express_two_form {
    display: flex;
    justify-content: space-between;
}
.four__input {
    display: flex;
    justify-content: space-between;
}
.modal__form_group form {
    display: block;
}
/* .form__item_adress  .input__name:required {
    border: 1px solid red;
} */

.form-group .red:invalid {
    border: 1px solid #E28F7C;
    background-color: #F9EDE9;
}


.form-group {
    margin-bottom: 20px;
}
.just-validate-error-label {
    color: #E28F7C !important;
    font-family: "Onest", sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}