@media (min-width: 1921px) {
    .menu__all_furniture-header ul {
        padding-left: 0;
    }
    .menu__all_furniture-header-bg {
        top: 8vh;
    }
}
@media (max-width: 1680px) {
    .head__tex_furniture {
        margin-top: 106px;
        margin-bottom: 228px;
    }
    .head__text h1 {
        font-size: 175px;
    }
    
  }
  @media (max-width: 1600px) {
    .div__plug_header {
        height: 117px;
    }
    .head__tex_furniture {
        margin-top: 106px;
        margin-bottom: 199px;
    }
    .menu__all_furniture-header-bg {
        top: 84px;
    }
    .head__text h1 {
        font-size: 170px;
    }
  }
@media (max-width: 1536px) {
    .div__plug_header {
        height: 114px;
    }
    .head__tex_furniture {
        margin-top: 106px;
        margin-bottom: 175px;
    }
    .menu__all_furniture-header-bg {
        top: 76px;
    }
    .head__text h1 {
        font-size: 155px;
    }
    .summer__sale_text p {
        color: #fff;
        font-size: 18px;
    }
   
  }
  @media (max-width: 1440px) {
    /* Шапка */
    .container__header_all {
        padding: 2.5vh 4vw;
    }
    .container__header_all_pad {
      padding: 1.5vh 4vw;
    }
    .menu__all_furniture-header-bg {
        top: 40px;
    }
    .offcanvas-header_right {
        padding-bottom: 18px;
        padding-top: 23px;
    }
    .offcanvas-header_right-pad {
        padding-bottom: 10px;
        padding-top: 12px;
    }
    .offcanvas-header_pad {
        padding: 20px 0px 19px 10px;
    }
    
    .div__plug_header {
        height: 8vh;
    }
    .head__tex_furniture h1 {
        font-size: 165px;
    }
    .head__text h1 {
        font-size: 140px;
    }
    .menu__all_furniture-header ul li {
        font-size: 20px;
    }
    
    .menu__all_furniture-header ul {
        margin-bottom: 10px;
    }
    .menu__all_furniture ul li {
        font-size: 28px;
    }
    .footer__footer {
        
        margin-bottom: 0px;
    }

  }
  @media (max-width: 1366px) {
   
    .head__tex_furniture {
        margin-top: 106px;
        margin-bottom: 153px;
    }
  }
  @media (max-width: 1280px) {
    .head__tex_furniture h1 {
        font-size: 140px;
    }
    .head__tex_furniture {
        margin-top: 100px;
        margin-bottom: 153px;
    }
    .summer__sale_text {
        margin-top: 0;
    }
    .summer__sale_text h1 {
        font-size: 125px;
        line-height: 150px;
    }
    .summer__sale_pad button {
        margin-bottom: 0;
    }
    .design__decige_bg {
        height: 500px;
    }
    .menu__all_furniture {
        margin-top: 28px;
    }
    .menu__all_furniture ul li {
        font-size: 24px;
    }
   
    .offcanvas-header_pad {
        padding: 20px 0px 20px 10px;
    }
  }
  @media (max-width: 1024px) {
    
    .head__tex_furniture h1 {
        font-size: 118px;
    }
    .head__tex_furniture {
        margin-top: 63px;
        margin-bottom: 123px;
    }
    .menu__all_furniture {
        margin-top: 22px;
    }
    .menu__all_furniture ul li {
        font-size: 18px;
    }
    .summer__sale_text h1 {
        font-size: 100px;
        line-height: 100px;
    }
    .summer__sale_text p {
        font-size: 16px;
    }
    .menu__all_furniture-header ul {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
    }
    .menu__all_furniture-header-bg {
        top: 34px;
        padding: 0px 26px;
    }
    .container__header_all {
        padding: 2.5vh 2.5vw;
    }
    .container__header_all_pad {
        padding: 1.5vh 2.5vw;
    }
    .div__plug_header {
        height: 10vh;
    }
    
}
@media (max-width: 912px) {
    .div__plug_header {
        height: 8vh;
    }
    .menu__all_furniture-header-bg {
        top: 4vh;
    }
    .head__tex_furniture {
        margin-bottom: 80px;
    }
}
@media (max-width: 820px) {
    .div__plug_header {
        height: 8vh;
    }
    .menu__all_furniture-header-bg {
        top: 4vh;
    }
    .head__tex_furniture {
        margin-bottom: 47px;
    }
}
@media (max-width: 800px) {
    .container__header_all {
        padding: 1.8vh 2vw;
    }
    .container__header_all_pad {
        padding: 1.2vh 2vw;
    }
    .head__tex_furniture {
        margin-top: 42px;
        margin-bottom: 68px;
    }
    .div__plug_header {
        height: 55px;
    }
    .menu__all_furniture ul {
       
        padding-left: 5px;
    }
    .menu__all_furniture-header-bg {
        top: 2.7vh;
        padding: 0px 14px;
    }
    .menu__all_furniture-header ul {
        margin-bottom: 0px;
    }
    .menu__all_furniture-header-span {
        margin-top: 2px;
    }
    .menu__all_furniture-header ul li {
        font-size: 18px;
    }
    
    .menu__all_furniture ul {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        justify-content: space-between;
    }
    .head__tex_furniture h1 {
        font-size: 105px;
    }
    .menu__all_furniture ul li {
        font-size: 18px;
    }
    .summer__sale_text h1 {
        font-size: 75px;
        line-height: 75px;
    }
    .summer__sale_text p {
        font-size: 12px;
    }
    .design__decige_bg {
        height: 400px;
    }
    .offcanvas-header {
        padding: 22px 0px 22px 10px;
    }
    .offcanvas-header_right {
        padding-bottom: 11px;
        padding-top: 18px;
    }
    .quantity__cart a {
        padding: 3px 5px 1px;
        
    }
    .menu__all_furniture-header {
        margin-top: 48px;
        
    }
    .menu__all_furniture-header-span  {
        margin-top: 0;
    }
    .menu__all_furniture-header {
        margin-top: 48px;
        padding-bottom: 8px;
    }
    .container__header_all img {
        width: 60% ;
    }
    
}
@media (max-width: 768px) {
    .head__tex_furniture {
        margin-top: 25px;
        margin-bottom: 72px;
    }
    .div__plug_header {
        height: 72px;
    }
    .head__tex_furniture {
        margin-bottom: 44px;
    }
}
@media (max-width: 767px) {
    .header__all_furniture {
        background-position: center;
        background-size: cover;
    }
    
    .menu__all_furniture-header ul li {
        font-size: 18px;
       
    }
    .menu__all_furniture ul li {
        margin-left: 0px;
    }
    .menu__all_furniture ul {
        overflow-x: scroll;
    }
    
    .menu__all_furniture ul li a {
        white-space: nowrap;
        color: rgba(252, 248, 244, 0.6);
    }
    .menu__all_furniture-header ul {
        overflow-x: scroll;
    }
    .menu__all_furniture-header a {
        white-space: nowrap;
        color: rgba(36, 22, 11, 0.5);
    }
    .menu__all_furniture-header-line {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2px;
        color: rgba(252, 248, 244, 0.6);
    }
    .menu__all_furniture-header-span {
        margin: 0px 10px;
        
    }
    .menu__all_furniture-header .all__furniture_active {
        color: #EFAE35;
    }
    .menu__all_furniture-header ul li a {
        color: rgba(36, 22, 11, 0.5);
    }
    .menu__all_furniture-header ul li a:hover {
        color: #EFAE35;
    }
    .menu__all_furniture-header ul li a:hover::after {
        display: none;
    }
    .menu__all_furniture-header .all__furniture_active::after {
        display: none;
    }
    .menu__all_furniture .all__furniture_active::after {
        display: none;
    }
    .menu__all_furniture ul li a:hover::after {
        display: none;
    }
    
    
    
}
@media (max-width: 600px) {
    .head__tex_furniture h1,
    .summer__sale_text h1 {
       font-size: 80px;
   }
   .menu__all_furniture-header {
       margin-top: 7%;
   }
   .div__plug_header {
    height: 46px;
}
.row{
    justify-content: start;
}
}
@media (max-width: 515px) {
    .container__header_all {
        z-index: 1061;
    }
    .menu__all_furniture-header-fixed {
        z-index: 1060;
    }
    .header__bg_z {
        z-index: 1050;
    }
    .header__bg_z_menu {
        z-index: 1049;
    }
    .header__bg_z_menu_all {
        z-index: 1049;
    }
    .header__bg_z_proff {
        z-index: 1050;
    }
}
@media (max-width: 480px) {
    .head__tex_furniture h1,
    .summer__sale_text h1 {
       font-size: 70px;
        line-height: 70px;
   }
   .menu__all_furniture-header {
       padding-bottom: 4px;
   }
}
@media (max-width: 414px) {
    .head__tex_furniture h1,
    .summer__sale_text h1 {
       font-size: 60px;
       line-height: 60px;
   }
   .menu__all_furniture-header {
    margin-top: 8%;
}
.menu__all_furniture-header-bg {
    top: 2.8vh;
}
}
@media (max-width: 375px) {
    .menu__all_furniture-header {
        margin-top: 9%;
    }
    .menu__all_furniture {
        margin-top: 10px;
    }
    .div__plug_header {
        height: 7vh;
    }
}